@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rowdies:wght@300;400;700&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}
body {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200vh;
    height: 100vh; 
}

h1 {
    color: white;
    position: relative;
    right: 340px;
    top: 170px;
    text-align: center; 
    font-size: 2.7rem;
}
h3{
    color: white;
    font-size: 1.2rem;
    text-align: center; 
    position: relative;
    right: 270px;
    top: 230px;
}
p{
    color: #fff;
    font-size: 1.1rem;
    position: relative;
    left: 200px;
    top: 270px;
}
.links{
    position: relative;
    left: 800px;
    bottom: 115px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 50px;
}
.explore{
    position: relative;
    top: 315px;
    left: 400px;
    text-decoration: none;
    color: white;
}