@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Itim", sans-serif;
}
.Background{
    background-color: #001e4d;
    background-size: cover;
    height: 100vh; 
    overflow-x: hidden;
}

.link{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    position: relative;
    right: 250px;
    font-size: 1.4rem;
    margin-right: 20px;
}
.all{
    position: absolute;
    left: 1050px;
    top: 50px;
    
}
.ani-name{
    position: relative;
    left: 760px;
    top: 70px;
    font-size: 0.8rem;
}
.ani-authorname{
    position: relative;
    left: 160px;
    top: 80px;
    font-weight: 50;
    color: rgba(255, 255, 255, 0.593);
}
.anime-data{
    position: relative;
    left:280px;
    top: 150px;
    font-size: 0.8rem;
}
/* .anime{
    position: relative;
    left: -355px;
    top: 338px;
    font-size: 1.2rem;
    font-weight: 100;
}
.authorname{
    position: relative;
    left: -355px;
    top: 348px;
    font-size: 1.2rem;
    font-weight: 100;
} */
.theme{
    position: relative;
    left: -335px;
    top: 366px;
    font-weight: 100;
}
.start-date{
    position: relative;
    left: -351px;
    top: 356px;
    font-weight: 100;
}
.character{
    position: relative;
    left: -354px;
    top: 377px;
    font-weight: 100;
}
.anime-datas{
    position: relative;
    left: 750px;
    top: 450px;
    font-size: 1.2rem;
    color: aliceblue;
}
.sta-date{
    position: relative;
    top: -20px;
    right: 50px;
    color: rgba(255, 255, 255, 0.546);
    font-weight: 100;
}
.the{
    position: relative;
    bottom: 3px;
    right: 50px;
    color: rgba(255, 255, 255, 0.546);
    font-weight: 100;
}
.char{
    position: relative;
    top: 12px;
    right: 50px;
    color: rgba(255, 255, 255, 0.546);
    font-weight: 100;
    width: 250px;
}
.ani-image{
    position: relative;
    top: -20px;
    left: 370px;
    height: 360px;
    width: 560px;
}
.back-btn{
    position: absolute;
    left: 1050px;
    top: 600px;
    background: none;
    border: none;
    color: white;
    font-size: 1.3rem;
    z-index: 1001;
}
.back-button{
    position: absolute;
    left: 80px;
    top: 606px;
    background: none;
    border: none;
    color: white;
    font-size: 1.3rem;
    z-index: 1001;
    text-decoration: none;
}
.next-btn{
    position: absolute;
    left: 1200px;
    top: 600px;
    background: none;
    border: none;
    color: white;
    font-size: 1.3rem;
}