.org{
    background-color: #001e4d;
    background-size: cover;
    height: 100vh; 
    overflow-x: hidden;
}
.link1{
    position: relative;
    left: 870px;
    font-size: 1.4rem;
    top: 40px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
#title{
    position: relative;
    left: 20px;
    top: 110px;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 2px;
}
.ani-names{
    position: relative;
    left: 250px;
    background: none;
    color: white;
    width: 200px;
    height: 270px;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 1.9rem;
    border: 1px solid white;
    transition: 0.7s;
  
}
.ani-names:hover{
    transform: scale(1.1);
    color: #ff0883;
}
.anis{
    position: relative;
    left: 50px;
    top: 120px;
    width: 720px;
    height: 500px;
}
#add-anime{
    position: relative;
    left: 1000px;
    top: 25px;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 200px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 15px;
}
#add-anime:hover {
    color: #ff0883;
}
#add-ani{
    position: relative;
    left: 1000px;
    text-decoration: none;
    font-size: 1.2rem;
    color: aliceblue;
    top: 10px;
}