.update-body{
    background-color: #001e4d;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    overflow-x: hidden;
}
#title1{
    position: relative;
    top: 25px;
    margin-left: 700px;
}
form{
    position: relative;
    left: 120px;
    top: 200px;
}
input{
    color: white;
}
.add-ani-name{
    position: relative;
    bottom: 135px;
    left: 340px;
    font-size: 1.5rem;
}
.add-ani-name input{
    width: 270px;
    position: relative;
    bottom: 4px;
    left: 15px;
    height: 27px;
    background: none;
    border: 2px solid white;
    border-radius: 6px;
}
.add-ani-authorname{
    position: relative;
    bottom: 80px;
    left: 337px;
    font-size: 1.5rem;
}
.add-ani-authorname input{
    width: 267px;
    position: relative;
    bottom: 4px;
    left: 15px;
    height: 27px;
    background: none;
    border: 2px solid white;
    border-radius: 6px;
}
.add-start-date{
    position: relative;
    bottom: 25px;
    left: 340px;
    font-size: 1.5rem;
}
.add-start-date input{
    width: 295px;
    position: relative;
    bottom: 4px;
    left: 15px;
    height: 27px;
    background: none;
    border: 2px solid white;
    border-radius: 6px;
}
.add-theme{
    position: relative;
    top: 35px;
    left: 340px;
    font-size: 1.5rem;
}
.add-theme input{
    width: 335px;
    position: relative;
    bottom: 4px;
    left: 15px;
    height: 27px;
    background: none;
    border: 2px solid white;
    border-radius: 6px;
}
.add-character{
    position: relative;
    top: 80px;
    left: 340px;
    font-size: 1.5rem;
}
.add-character input{
    width: 245px;
    position: relative;
    bottom: 4px;
    left: 15px;
    height: 27px;
    background: none;
    border: 2px solid white;
    border-radius: 6px;
}
.submit-btn{
    position: relative;
    width: 100px;
    left: 520px;
    top: 150px;
    border: 3px solid white;
    background: none;
    color: white;
    padding: 5px 20px 5px 20px;
    font-size: 1rem;
}
.submit-btn:hover{
    background-color: #ff028d;
}
.add-image-url{
    position: relative;
    top: 120px;
    left: 340px;
    font-size: 1.5rem;
}
.add-image-url input{
    width: 305px;
    position: relative;
    bottom: 4px;
    left: 15px;
    height: 27px;
    background: none;
    border: 2px solid white;
    border-radius: 6px;
}